body {
    overflow: hidden;
    background-color: #03b430;
    /* Hide scrollbars */
}



div.harten {
    width: 140px;
    height: 140px;
    display: flex;
    padding-top: 40px;
    margin-left: 40%;
}

div.klaver {
    width: 140px;
    height: 140px;
    display: flex;
    margin-left: 47%;
}

div.schoppen {
    width: 140px;
    height: 140px;
    display: flex;
    margin-left: 54%;
}

div.ruit {
    width: 140px;
    height: 140px;
    display: flex;
    padding-bottom: 40px;
    margin-left: 61%;
}